LaPerLa/LaPerLa.UnitTest/Service References/LaPerLaServiceReference/LaPerLaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LaPerLa.BusinessModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LaPerLa.BusinessModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="District">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictId" type="xs:long" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="District" nillable="true" type="tns:District" />
</xs:schema>